
 <!DOCTYPE html>
 <html lang="en">
 <link rel="stylesheet" href="style.css">
 <script src="script.js"></script>
 <title>Your Account</title>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;1,700&family=Raleway:wght@400;600&family=Ubuntu&display=swap" rel="stylesheet">


<body>
    <header>
        <nav class="nav-main">
          <ul>
            <div class="btn-toggle-nav" onclick="toggleNav()"></div>
            <li>Your account</li>
            <li><img src="img/message-icon.png" alt="message icon"></li>
          </ul>
        </nav>
      </header> 
    
      <aside class="nav-sidebar">
        <ul> 
          <li><a href="/foryou">For you</a></li>
          <li><a href="/likes">Matches</a></li>
          <li><span>Account</span></li>
          <li><a href="/404">Log out</a></li>
        </ul>
      </aside>