
 <!DOCTYPE html>
 <html lang="en">
 <link rel="stylesheet" href="style.css">
 <script src="script.js"></script>
 <title>test123</title>
 
 <header>
    <nav class="nav-main">
      <ul>
        <div class="btn-toggle-nav" onclick="toggleNav()"></div>
        <li><a href="#">For you</a></li>
        <li><img src="img/message-icon.png" alt="message icon"></li>
      </ul>
    </nav>
  </header> 

  <aside class="nav-sidebar">
    <ul> 
      <li><span>For you</span></li>
      <li><a href="memes.html">Likes</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Log out</a></li>
    </ul>
  </aside>