
 <!DOCTYPE html>
 <html lang="en">
 <link rel="stylesheet" href="style.css">
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;1,700&family=Raleway:wght@400;600&family=Ubuntu&display=swap" rel="stylesheet">
 <script src="script.js"></script>
 <title>Your profile</title>
 
 <header>
    <nav>
      <ul>
        <li><img src="img/message-icon.png" alt="message icon"></li>
        <li><a href="/foryou"><img src="img/logo.png" alt="logo"></a></li>
        <li><a href="/profile-result" class="view-profile-btn">Your profile</a></li>
      </ul>
    </nav>
  </header> 