<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create account</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;1,700&family=Raleway:wght@400;600&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="nav-main">
      <ul>
        <li><img src="img/logo.png" alt="logo"></li>
      </ul>
    </nav>
  </header> 