/*
used fonts
font-family: 'Montserrat', sans-serif; Kopjes
font-family: 'Raleway', sans-serif; Lopende tekst
font-family: 'Ubuntu', sans-serif; Titels
*/

body{
    margin: 0;
    background-color: #FBF2E8;
}


/* styling main navigation bar*/

.nav-main{
    width: 100%;
    height: 60px;
    background-color: none;
    z-index: 1000;
    /*position: fixed;*/
}

header ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 5px;
    padding: 0;
}

.nav-main ul li{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

header img{
    cursor: pointer;
    width: 45px;
}

.btn-toggle-nav{
    width: 60px;
    height: 60px;
    background-color: none;
    background-image: url(img/hamburger-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
}

/* end styling main navigation bar*/

/* styling side navigation bar*/

.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    height: calc(100vh - 60px);
    background-color:#4C4B85;
    color: white;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

/*.nav-sidebar-visible{
    margin-left: 1em;
    visibility: visible;
    test for shorter code
}*/

.nav-sidebar ul{
    padding-top: 15px;
    padding-left: 10px;
    overflow: hidden;
    visibility: hidden; 
}

.nav-sidebar ul li{
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: white;
}

.nav-sidebar ul li a:hover{
    color: #EF9398;
}


/* end styling side navigation bar*/

section{
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.profile-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 21em;
}

.profile-img-container{
    background-image: url(img/profile_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left:auto;
    margin-right: auto;
    width: 21em;
    height: 31em;
    border-radius: 5%;
}

.profile-info {
    position: absolute;
    bottom: 20px;
    right: 13px; 
    background-color:white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 17em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .profile-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#4C4B85;
  }

  .profile-info p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: grey;
    font-size: 16px;
  }

  .profile-info :nth-child(2){
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.profile-info :nth-child(3){
    margin-top: 0;
}

.profile-info :nth-child(4){
    margin-top: -1em;
}

.profile-info>*{
    flex: 0 40%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px 0 90px;
    cursor: pointer;
}

.buttons img{
    background-color: white;
    border: solid 1.2px;
    border-color: #DF8B90;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
}

/* Code used from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .btn-toggle {
    border: none;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
} 

/* styling matches page */
.matches-list{
    display: grid;
    grid-column: 1;
    margin: 4em 2em 4em 2em;
    grid-gap: 3em;
}

@media (min-width:800px) {
    .matches-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4em 2em 4em 2em;
        grid-gap: 3em;
    }
}
    @media (min-width:1100px) {
        .matches-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 4em 2em 4em 2em;
            grid-gap: 3em;
        }
}
/* end styling matches page */

/* styling account page */

.account-page{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    padding-bottom: 20px;
}

.account-img-container{
    height: 20em;
    background-image: url(img/ammika-harris.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.account-profile-info{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.account-profile-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin:0;
    color:#4C4B85;
}

.account-profile-info :nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.account-profile-info p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: grey;
    font-size: 16px;
}

.account-page h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.account-page p{
    font-family: 'Raleway', sans-serif;
}

.account-interests ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.account-interests li{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    background-color:#4C4B85;
    color: white;
    padding: 10px 15px;
    border-radius: 35%;
    font-size: 14px;
    margin-bottom: 10px;
}

.account-page button{
    padding: 15px;
}

.account-page button a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
} 

.edit-profile-button img{
    width: 40px;

}

/*
used fonts
font-family: 'Montserrat', sans-serif; Kopjes
font-family: 'Raleway', sans-serif; Lopende tekst
font-family: 'Ubuntu', sans-serif; Titels
*/

