/*
used fonts
font-family: 'Jost', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body{
    margin: 0;
    background-color: #F1F1F1;
}

/* styling main navigation bar*/

.nav-main{
    width: 100%;
    height: 60px;
    background-color:#FFF;
    z-index: 1000;
    /*position: fixed;*/
}

header ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px 0 5px;
    padding: 0;
}

.nav-main ul li{
    list-style: none;
}

.nav-main ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
 
}

header img{
    cursor: pointer;
}

.btn-toggle-nav{
    width: 60px;
    height: 60px;
    background-color: thistle;
    background-image: url(img/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
}

/* end styling main navigation bar*/

/* styling side navigation bar*/

.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    padding: 0 5px;
    height: calc(100vh - 60px);
    background-color: thistle;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

/*.nav-sidebar-visible{
    margin-left: 1em;
    visibility: visible;
    test for shorter code
}*/

.nav-sidebar ul{
    padding-top: 15px;
    padding-left: 10px;
    overflow: hidden;
    visibility: hidden; 
}

.nav-sidebar ul li{
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover{
    color: #222;
}

/* end styling side navigation bar*/

.profile-container{
    height: 35em;
    width: 20em;
    border-radius: 3%;
    margin-top: 2em;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 10px;
    margin-right: auto;
    background-color: pink;
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.55);
}

.profile-img-container{
    background-image: url(img/profile_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left:auto;
    margin-right: auto;
    width: 18em;
    height: 25em;
}

.profile-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 18px;
}

.profile-info :nth-child(2){
    text-align: right;
    margin-right: 18px;
}

.profile-info>*{
    flex: 0 40%;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons img{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

/* styling matches page */
.matches-list{
    display: grid;
    grid-column: 1;
    margin: 4em 2em 4em 2em;
    grid-gap: 3em;
}

@media (min-width:800px) {
    .matches-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4em 2em 4em 2em;
        grid-gap: 3em;
    }
}
    @media (min-width:1100px) {
        .matches-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 4em 2em 4em 2em;
            grid-gap: 3em;
        }
}
/* end styling matches page */

/* Code used from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .btn-toggle {
    border: none;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
} 