/*
used fonts
font-family: 'Montserrat', sans-serif; Kopjes
font-family: 'Raleway', sans-serif; Lopende tekst
font-family: 'Ubuntu', sans-serif; Titels
*/

body{
    margin: 0;
    background-color: #FBF2E8;
}


/* styling main navigation bar*/

.nav-main{
    width: 100%;
    height: 60px;
    background-color: none;
    z-index: 1000;
    /*position: fixed;*/
}

header ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 5px;
    padding: 0;
}

.nav-main ul li{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

header img{
    cursor: pointer;
    width: 45px;
}

/* end styling main navigation bar*/

section{
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}

/* .page-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    

} */
.profile-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 21em;
}

.profile-img-container{
    background-image: url(img/profile_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left:auto;
    margin-right: auto;
    width: 21em;
    height: 31em;
    border-radius: 5%;
}

.profile-info {
    position: absolute;
    bottom: 20px;
    right: 13px; 
    background-color:white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 17em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    opacity: 0.95;
  }

  .profile-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#4C4B85;
  }

  .profile-info p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
  }

  .profile-info :nth-child(2){
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.profile-info :nth-child(3){
    margin-top: 0;
}

.profile-info :nth-child(4){
    margin-top: -1em;
}

.profile-info>*{
    flex: 0 40%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px 0 90px;
    cursor: pointer;
}

.buttons img{
    background-color: white;
    border: solid 1.2px;
    border-color: #DF8B90;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
}

/* Code used from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .btn-toggle {
    border: none;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
} 

/* styling matches page */
.matches-list{
    display: grid;
    grid-column: 1;
    margin: 4em 2em 4em 2em;
    grid-gap: 3em;
}

@media (min-width:800px) {
    .matches-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4em 2em 4em 2em;
        grid-gap: 3em;
    }
}
    @media (min-width:1100px) {
        .matches-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 4em 2em 4em 2em;
            grid-gap: 3em;
        }
}
/* end styling matches page */

/* styling account page */

.account-page{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    padding-bottom: 20px;
}

.account-img-container{
    height: 20em;
    background-image: url(img/ammika-harris.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.account-profile-info{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.account-profile-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin:0;
    color:#4C4B85;
}

.account-profile-info :nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.account-profile-info p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: grey;
    font-size: 16px;
}

.account-page h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.account-page p{
    font-family: 'Raleway', sans-serif;
}

.account-interests ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.account-interests li{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    background-color:#4C4B85;
    color: white;
    padding: 10px 15px;
    border-radius: 35%;
    font-size: 14px;
    margin-bottom: 10px;
}

/* styling edit account page*/

/* .edit-profile-button img{
    width: 40px;
}

.edit-account-page button{
    padding: 15px;
    background-color: #F8C35E;
    margin-top: 30px;
}

.edit-account-page button a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
} 

.edit-account-page label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.edit-account-page input, textarea{
    display: block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    margin-top: 20px;
    width: 336px;
}

.edit-add-button {
    background-color: #F8C35E;
    border: none;
    margin-left: 5px;
} */

.create-account-page{
    margin-bottom: 5em;
}

.create-account-page h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 100;

}

.create-account-page h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.create-account-page form fieldset{
    border: none;
    margin: 1em 0;
    padding: 0;
}

.create-account-page form input, textarea{
    display: block;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 0.1px solid;
    border-radius: 5px;
    border-color: #DF8B90;
    font-family: 'Raleway', sans-serif;
}

.create-account-page label{
    font-family: 'Montserrat', sans-serif;
    
}

.create-account-page form .add-button {
    width: 100px;
    padding: 10px;
    background-color: #4C4B85;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    
}



/*
used fonts
font-family: 'Montserrat', sans-serif; Kopjes
font-family: 'Raleway', sans-serif; Lopende tekst
font-family: 'Ubuntu', sans-serif; Titels
*/

