<%- include('partials/account-header'); -%>
<body class="account">

      <section class="account-page">
          <div class="account-img-container">
          </div>

          <div class="account-profile-info">
             <h1>Ammika Harris, 23</h1>
             <h1>Amsterdam</h1>
             <p>Influencer</p>
         </div> 
         

          <h2>About me</h2>
          <p>I love to travel. I am always outside so I don't really like to stay at home all day, but if I do I like to read.</p>

          <div class="account-interests">

            <h2>Interests</h2>
            <ul>
             <li>Traveling</li>
             <li>Cooking</li>
             <li>Reading</li>
             <li>Shopping</li>
    
            <% for (var index = 0; index < data.length; index++) { %>
                
                  <li><%= data[index].point %></li>
                  <% } %>
            </ul>
            
         </div>
         <a class="edit-profile-button" href="/edit-account"><img src="img/edit-icon.png" alt="edit icon"></a>

        

      </section>

      <script src="script.js"></script>
    
</body>
</html>