<%- include('partials/account-header'); -%>
<body class="account">

      <h1 class="page-title">Your profile</h1>

      <section class="account-page">
          <div class="account-img-container">
          </div>

          <div class="account-profile-info">
             <h1>Ammika Harris, 23</h1>
             <h1>Amsterdam</h1>
             <p>Influencer</p>
         </div> 
      
         <h2>About me</h2>
                        <% for (var index = 0; index < data.length; index++) { %>
                           <p><%= data[index].about %></p>
                           
                           <% } %> 
                           <button><a href="/edit-about">Update about</a></button>

            
            <h2>Interests</h2>
           
                  <div class="account-interests">
                        <ul>
                              <% for (var index = 0; index < data.length; index++) { %>
                              <li><%= data[index].interest %></li>
                              
                              <% } %>
                         </ul>
                         <button><a href="/edit-interests">add/remove interests</a></button>
                   </div>
                   


            
         <a class="edit-profile-button" href="/edit-interests"><img src="img/edit-icon.png" alt="edit icon"></a>

        

      </section>

      <script src="script.js"></script>
    
</body>
</html>