<%- include('partials/account-header'); -%>
<body class="account">

      <h1 class="page-title">Your profile</h1>

      <h2>About me</h2>

      <form action="/quotes" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="quote" name="quote">
            <button type="submit">Submit</button>
          </form>

          <h2> Quotes </h2>

          <ul class="quotes">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < data.length; i++) {%>
              <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span><%= data[i].name %></span>:
                <!-- Output quote from the iterated quote object -->
                <span><%= data[i].quote %></span>
              </li>
            <% } %>
          </ul>

      </section>

      <script src="script.js"></script>
    
</body>
</html>