<%- include('partials/account-header'); -%>
<body>

  <h1 class="page-title">Edit your profile</h1>

  <section class="account-page">
     <div class="account-img-container"></div>
          <div class="account-profile-info">
             <h1>Ammika Harris, 23</h1>
             <h1>Amsterdam</h1>
             <p>Influencer</p>
         </div> 
        


        <fieldset>

           <h2>Delete Interests</h2>
           
            <div class="account-interests">
                  <ul>
                     <% for (var index = 0; index < data.length; index++) { %>
                        <li><%= data[index].interest %></li>
                        
                        <% } %>
                   </ul>
             </div>


           <form method="POST" action="/interests">
            <label>What are some of your interests? (add interests)</label>
            <input type="text" name="interest"> 
            <input class="add-button" type="submit" value="add">
           </form>

        </fieldset>

        <button><a href="/account">Cancel</a></button>
        <!-- <button><a href="/account">Save</a></button> -->

      </section>

      <script src="script.js"></script>
    
</body>
</html>