<%- include('partials/account-header'); -%>
<body>

  <h1 class="page-title">Welcome back to your profile</h1>
  


  <section class="edit-account-page">
     <div class="account-img-container"></div>

     <form method="POST" action="/edit-account">
      <label>Name</label>
      <input type="text" name="name">
      <label>Age</label>
      <input type="number" name="age">
      <label>Profession</label>
      <input type="text" name="profession">
      <h1>Tell something about yourself</h1>
      <label>About me:</label>
      <textarea name="about" id="about" cols="30" rows="10"></textarea>
      <h1>What are some of your interests?</h1>
      <label>1</label>
      <input type="text" name="interest[]"> 
      <label>2</label>
      <input type="text" name="interest[]">
      <label>3</label>
      <input type="text" name="interest[]">
      <input class="add-button" type="submit" value="save">
      <input type="submit" value="delete">
  </form>
  


        <!-- <button><a href="/account">delete account</a></button> -->

      </section>

      <script src="script.js"></script>
    
</body>
</html>