<%- include('partials/account-header'); -%>
<body>

  <h1 class="page-title">Edit your profile</h1>

  <section class="account-page">
     <div class="account-img-container"></div>
          <div class="account-profile-info">
             <h1>Ammika Harris, 23</h1>
             <h1>Amsterdam</h1>
             <p>Influencer</p>
         </div> 
        

         <form method="POST" action="/account">
            <label>Tell something about yourself</label>
            <textarea name="about" id="about" cols="30" rows="10"></textarea>
            <label>What are some of your interests?</label>
            <input type="text" name="interest"> 
            <input class="add-button" type="submit" value="add">
        </form>
        <button><a href="/account">Cancel</a></button>
         

      </section>

      <script src="script.js"></script>
    
</body>
</html>