<fieldset>

    <h2>About me</h2>
              <% for (var index = 0; index < data.length; index++) { %>
                 <p><%= data[index].about %></p>
                 
                 <% } %>



    <form method="POST" action="/account">
        <label>Tell something about yourself</label>
        <textarea name="about" id="about" cols="30" rows="10"></textarea>
     <input class="add-button" type="submit" value="add">
    </form>

 </fieldset>

 <button><a href="/account">Cancel</a></button>