<%- include('partials/header'); -%>

<body class="foryou">
  
      
      <section>
           <article class="profile-container">
             <div class="profile-img-container">
             <div class="profile-info">
               <h1>Shane, 24</h1>
               <h1>Amsterdam</h1>
               <p>Model</p>
               <button class="btn-toggle"><p><i class="arrow down"></i></p></button>
             </div>
            </div>
          </article>
  
          <div class="buttons">
            <img src="img/dislike-icon.png" alt="dislike button">
            <img src="img/heart-icon.png" alt="like button">
          </div>
  
      </section>
  
  <script src="script.js"></script>
  
  </body>
  </html>
</html>