<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/style.css">
<title>This page does'nt exist</title>
<h1>Oeps!</h1>
<p>Seems like you don't have an account yet</p>
<a href="/create-profile">Create profile</a>
